/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.our-company__item--2 {
	    margin-top: 0;
	    padding-top: 21px;
	}
	.our-company__item--3 {
		padding-top: 42px;
	}
	.our-company_head {
	    margin-bottom: 70px;
	}
	.our-company-content {
		padding-left: 0;
	}	
	.our-company-content-wrap-two {
		padding-left: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.our-company-item-wrap, 
	.our-company-item-wrap-1 {
		margin-bottom: 35px;
	}
	.our-company__item--2 {
		padding-top: 93px;
	}
	.our-company__item--3 {
	    padding-top: 137px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.our-company__item--2 {
		padding-top: 0;
	}
	.our-company-content-wrap-two {
		padding-left: 0;
	}
	.our-company-content-wrap {
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.btn-license {
		max-width: 85%;	
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.our-company-content-wrap-two p {
	    margin-bottom: 0;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
	.btn-license {
	    max-width: 100%;
	}
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.our-company-content-wrap {    
	    padding-right: 5px;
	    padding-left: 5px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top-head-item--2.top-head-item-xs {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}