/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.your-security__text {
		height: 252px;
	}
	.your-security__text h3 {
		font-size: 2rem;
		padding-top: 24px;
		margin-bottom: 12px;
	}
	.your-security__text p {
		font-size: 1.6rem;
	}
	.products__item p {
		font-size: 1.6rem;
	}
	.products-btn {
		font-size: 1.6rem;
		height: 55px;
		line-height: 55px;
	}
	.our-company__item--2 {
	    margin-top: 0;
	    padding-top: 21px;
	}
	.our-company__item--3 {
		padding-top: 42px;
	}
	.our-company_head {
	    margin-bottom: 70px;
	}
	.our-company-content {
		padding-left: 0;
	}	
	.our-company-content-wrap-two {
		padding-left: 25px;
	}
	.video__substrate {
		top: 32%;
	}
	.men-wrap::before {
		display: none;
	}
	.you-need-security {
		margin-bottom: 110px;
	}		
	.cloud-wrap__item-1,
	.cloud-wrap__item-2 {
		margin-bottom: 100px;
	}
	.cloud-wrap__item-1 {
		padding-top: 90px;
	}
	.cloud-wrap__item-4::before {
		top: -128%;
		left: -55%;
	}	
	.cloud-wrap__item-1::before {
		bottom: 52%;
	}
	.cloud-wrap__item-1--two,
	.cloud-wrap__item-1--three {
		margin-left: 30px;
	}
	.cloud-wrap__item-1--six,
	.cloud-wrap__item-1--seven {
		margin-left: -30px;
		padding-right: 5px;
	}
	.cloud-wrap__item-1--two:before {
		bottom: 11%;
	}
	.cloud-wrap__item-1--six:before {
		left: -52%;
		bottom: 15%;
	}
	.cloud-wrap__item-1--seven:before {
		left: -19%;
		bottom: -15%;
	}
	.form-bottom {
		padding-bottom: 30px;
	}
	.project-slide-row {
		text-align: center;
	}
	.project-slide__text p {
		text-align: left;
	}
	.compilited-projects {
		padding-bottom: 135px;
	}
	#slider .owl-prev,
	#slider .owl-next {
		bottom: -9%;
	}
	#slider .owl-dots {	    
	    bottom: -8.5%;
	    left: 46%;
	}
	.five-steps__content-wrap::before {
		display: none;
	}
	.five-steps__content-wrap--items::before {
		left: 29%;
		top: 15%;
	}
	.five-steps__content-wrap--items:after {
		left: 45%;		
	}
	.form-top__text-wrap h2 {
		font-size: 4rem;
	}
	.form-top__text-wrap h2 span {
		font-size: 7.5rem;
	}
	.form-top__text-wrap h3 {
		font-size: 3rem;
	}
	.form-top__girl {
		left: -72%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.your-security__text {
		height: 192px;
		padding-left: 20px;
	}
	.your-security__text h3 {
		font-size: 1.8rem;
		padding-top: 15px;
	}
	.your-security__text p {
		font-size: 1.4rem;
	}
	.products__item {
		min-height: 490px;
	}
	.products__item h3 {
		font-size: 2.2rem;
	}
	.products__item p {
		font-size: 1.4rem;
	}
	.products-btn {
		font-size: 1.6rem;
		height: 50px;
		line-height: 50px;
		margin-bottom: 50px;
	}
	.form-top {
		height: auto;
		min-height: 100px;
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom: 70px;
	}
	.form-top__text-wrap {
		text-align: center;
	}
	.form-top__text-wrap h2 {
		padding-top: 70px;
	}
	.form-top__text-wrap h3 {
		margin-bottom: 40px;
	}
	.form-wrap {
		margin: 40px auto 0;
	}
	.form-top__girl {
		display: none;
	}
	.our-company-item-wrap, 
	.our-company-item-wrap-1 {
		margin-bottom: 35px;
	}
	.our-company__item--2 {
		padding-top: 93px;
	}
	.our-company__item--3 {
	    padding-top: 137px;
	}
	.five-steps__content-wrap--items::before {
	    left: 24%;
	    top: 6%;
	}
	.five-steps__content-wrap--items::after {
	    left: 44%;
	    top: 15%;
	}
	.five-steps__content-wrap--items-two::before {
		left: 35%;
		top: 7%;
	}
	.five-steps__content-wrap--items-two::after {		
		top: 16%;
	}
	.five-steps__content-wrap--description {
	    padding-top: 0;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	section, header, footer {
		overflow: hidden;
	}
	.your-security__img {
		text-align: center;
		margin-bottom: 0;
		background: #f6faff;
	}
	.your-security__text {
		background: #f6faff;
		padding: 0 30px;
	}
	.your-security__text h3 {
		text-align: center;
	}
	.products__item {
		height: auto;
		min-height: 0;
		padding-bottom: 20px;
	}
	.products__item h3 {
		text-align: center;
	}
	.products__item img {
		margin-left: auto;
		margin-right: auto;
	}
	.products__item {
		max-width: 370px;
		margin: 0 auto;
	}
	.products-btn {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	.our-company__item--2 {
		padding-top: 0;
	}
	.our-company-content-wrap-two {
		padding-left: 0;
	}
	.our-company-content-wrap {
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.you-need-security {
		margin-bottom: 0;
	}
	.cloud-wrap__item-4::before {
	    top: -81%;
	    left: -90%;
	}
	.cloud-wrap__item-1::before {
	    bottom: 56%;
	}
	.cloud-wrap__item-1--two, 
	.cloud-wrap__item-1--three {
	    margin-left: 0;
	}
	.cloud-wrap__item-1--six, 
	.cloud-wrap__item-1--seven {
	    margin-left: 0;
	    padding-right: 0;
	}
	.cloud-wrap__item-1--five:before {
		bottom: 58%;
	}
	.cloud-wrap__item-2::before {
		left: -62%;
		bottom: 17%;
	}
	.cloud-wrap__item-1--six:before {
		left: -78%;
		bottom: 23%;
	}
	.cloud-wrap__item-3::before {
		left: -18%;
		bottom: -13%;
	}
	.cloud-wrap__item-1--seven::before {
	    left: -31%;
	    bottom: -5%;
	}
	.five-steps__content-wrap--items::before,
	.five-steps__content-wrap--items-two::before {
		width: 110px;
		height: 110px;		
	}
	.five-steps__content-wrap--items::before {
		left: 26%;
		top: 7%;
	}
	.five-steps__content-wrap--items::after {
	    left: 41%;
	    top: 6%;
	}
	.cloud-wrap__item-1--six:before {
		left: -78%;
		bottom: 23%;
	}
	.cloud-wrap__item-3::before {
		left: -18%;
		bottom: -13%;
	}
	.cloud-wrap__item-1--seven::before {
	    left: -31%;
	    bottom: -5%;
	}
	.five-steps__content-wrap--items::before,
	.five-steps__content-wrap--items-two::before {
		width: 110px;
		height: 110px;		
	}
	.five-steps__content-wrap--items::before {
		left: 26%;
		top: 7%;
	}
	.five-steps__content-wrap--items::after {
	    left: 41%;
	    top: 6%;
	}

	.five-steps__content-wrap--items-two::after {
	    top: 7%;
	    left: 45%;
	}
	.main-footer__logo {
		margin: 0 auto;
	}
	.main-footer__studio-developet {
	    text-align: center;
	    padding-top: 15px;
	}
	#slider .owl-prev {
		left: 10%;
	} 
	#slider .owl-next {
		right: 10%;
	}
	#slider .owl-dots {
		left: 45%;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.our-company-item-wrap .our-company__item--2 {
		float: right;
	}
	.our-company-content-wrap-two p {
	    margin-bottom: 0;
	}
	.btn-license {
		max-width: 85%;	
	}
	.cloud-wrap:before {
		display: none;
	}
	.cloud-wrap__item-1 {
	    padding-top: 0;
	}
	.you-need-security__head {
	    margin-bottom: 100px;
	}
	.cloud-wrap__item-1, 
	.cloud-wrap__item-2,
	.cloud-wrap__item-3,
	.cloud-wrap__item-4 {
	    margin-bottom: 15px;
	}
	.cloud-wrap {
		width: 100%;		
		background: #f6faff;
		border: 2px solid #48597c;
		border-radius: 3px;
		padding: 10px;
	}
	.form-bottom {
		background: #fbc405;
	}
	.five-steps__content-wrap--items,
	.five-steps__content-wrap--items-two,
	.five-steps__application a {
		margin: 30px auto 30px;
	}
	.five-steps__application {
		margin-bottom: 0;
	}
	.five-steps__content-wrap--items::before {
	    left: 36%;
	    top: 27%;
	}
	.five-steps__content-wrap--items::after {
	    left: 45%;
	    top: 26%;
	}
	.five-steps__content-wrap--items-two::before {
	    left: 42%;
	    top: 26%;
	}
	.five-steps__content-wrap--items-two::after {
	    top: 25%;
	    left: 48%;
	}
	.contacts__head {
	    margin-top: 0;
	    padding-top: 20px;
	}
	.footer-head,
	.contacts {
		text-align: center;
	}	
	.bottom-form-btn {
		margin: 0 auto;
	}
	.contacts__phone a {
		margin-bottom: 30px;
	}
	
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
	.btn-license,
	.btn-application {
	    max-width: 100%;
	}
	.main-footer {
		padding-bottom: 15px;
	}
}
@media only screen and (max-width : 642px) {
	.your-security__text h3 {
		font-size: 2.4rem;
	}
	.your-security__text p {
		font-size: 1.8rem;
	}
	.form-wrap {
		text-align: center;
		padding: 50px 20px;
	}
	.form-top__form h3 {
		font-size: 3rem;
		margin-bottom: 10px;
	}
	.form-top__form p {
		font-size: 2.2rem;
		margin-bottom: 40px;
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-size: 1.8rem;}
	input::-moz-placeholder, textarea::-moz-placeholder {font-size: 1.8rem;}
	input::-moz-placeholder, textarea::-moz-placeholder {font-size: 1.8rem;}
	input:-ms-input-placeholder, textarea:-ms-input-placeholder {
		font-size: 1.8rem;}
	.products__item p {
		font-size: 1.8rem;
	}

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.your-security__text {
		height: auto;
		padding-bottom: 40px;
	}
	#slider .owl-prev {
		left: 0;
	} 
	#slider .owl-next {
		right: 0;
	}
	.slide-picture-after-two-wrap {
		text-align: left;
	}
	.slide-picture-after-two-wrap li {
		margin-right: 10px;
	}
	.video__substrate {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.your-security__text {
		padding: 0 20px 40px;
	}
    .five-steps__content-wrap--items-two::before {
	    left: 38%;
	    top: 18%;
	}
	.five-steps__content-wrap--items-two::after {
	    top: 17%;
	    left: 46%;
	}
	.project-slide-picture-after {
		min-height: 300px;
	}
	.slide-picture-after-two {
		max-width: 145px;
	}
	.slide-picture-after-two-wrap li {
	    margin-right: 3px;
	}
	#slider .owl-dots {
		display: none;
	}
}

@media only screen and (max-width : 415px) {
	.form-bottom__head h2 {
		font-size: 5rem;
	}
	.project-slide-picture-after {
		min-height: 260px;
	}
	.slide-picture-after-two-wrap {
		margin-top: 0;
	}
	.slide-picture-after-two {
	    max-width: 122px;
	}
	#slider .owl-prev, 
	#slider .owl-next {
	    bottom: -6%;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.your-security__text h3 {
		font-size: 2.2rem;
	}
	.our-company-content-wrap {    
	    padding-right: 5px;
	    padding-left: 5px;
	}	
	.five-steps__content-wrap--items-two::before {
	    left: 35%;
	    top: 11%;
	}
	.five-steps__content-wrap--items-two::after {
	    top: 11%;
	    left: 44%;
	}
	.five-steps__content-wrap--items-two {
		height: auto;
		min-height: 50px;
	}
	.form-bottom__head h2 {
	    font-size: 4rem;
	}
	.slide-picture-after-two {
	    max-width: 109px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.slide-picture-after-two {
	    max-width: 104px;
	}
	.five-steps__content-wrap--items::before {
	    left: 35%;
	    top: 23%;
	}
	.five-steps__content-wrap--items::after {	    
	    top: 23%;
	}
}

@media only screen and (max-width : 360px) {
	.you-need-security__head {
	    margin-bottom: 40px;
	}
	.our-clients {
		margin-bottom: 20px;
	}
	.project-slide-picture-after {
	    min-height: 210px;
	}
	.slide-picture-after-two {
	    max-width: 91px;
	}
	.compilited-projects {
	    padding-bottom: 65px;
	}
	#slider .owl-prev, #slider .owl-next {
	    bottom: -3%;
	}
	.five-steps__content-wrap--items::before {
	    left: 33%;
	    top: 18%;
	}
	.five-steps__content-wrap--items::after {
	    top: 17%;
	}
	.five-steps__content-wrap--items-two::before {
	    left: 31%;
	    top: 5%;
	}
	.five-steps__content-wrap--items-two::after {
	    top: 3%;
	    left: 43%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#countbox, #countbox1 {
		height:93px;
		max-width:280px;
		line-height:50px;
		margin-left:auto;
		margin-right:auto;
	}
	#countbox .countbox-num {
		width:65px;
		height:65px;
		font-size:26px;
		padding-left:0px;
	}
	#countbox1 .countbox-num {
		width:65px;
		height:65px;
		font-size:26px;
		padding-left:0px;
	}
	#countbox-days1, #countbox-hours1, #countbox-mins1, #countbox-secs1 {
		margin-left:9px;
	}
	#countbox-days-text:before {
		position:absolute;
		top:13px;
		left:15px;
		display:block;
		content:"день";
	}
	#countbox-hours-text:before {
		position:absolute;
		top:13px;
		left:21px;
		display:block;
		content:"час";
	}
	#countbox-mins-text:before {
		content:"мин";
		position:absolute;
		top:13px;
		left:18px;
		display:block;
	}
	#countbox-secs-text:before {
		content:"сек";
		position:absolute;
		top:13px;
		left:21px;
		display:block;
	}
	#countbox-days-text, #countbox-hours-text,
	#countbox-mins-text, #countbox-secs-text {
		margin-top:0.8rem;
		position:relative;
		width:20px;
		font-size:14px;
		color:#020202;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	#countbox, #countbox1{
		font-size:36px;
		line-height:70px;
		margin-top:30px;
		padding:0;
		max-width:380px;
		z-index:100;
		position:relative;
	}
	#countbox .countbox-num,
	#countbox1 .countbox-num {
		width:90px;
		height:90px;
		font-size:36px;
		background: #fff;
		padding-left:3px;
	}

	#countbox .countbox-num__sec,
	#countbox1 .countbox-num__sec {
		color: #72345b;
	}
	#countbox-days1, #countbox-hours1,
	#countbox-mins1, #countbox-secs1 {
		margin-left:18px;
	}
	#countbox-days-text:before {
		position:absolute;
		top:20px;
		left:25px;
		display:block;
		content:"день";
	}
	#countbox-hours-text:before {
		position:absolute;
		top:20px;
		left:28px;
		display:block;
		content:"час";
	}
	#countbox-mins-text:before {
		content:"мин";
		position:absolute;
		top:20px;
		left:28px;
		display:block;
	}
	#countbox-secs-text:before {
		content:"сек";
		position:absolute;
		top:20px;
		left:28px;
		display:block;
	}
	#countbox-days-text, #countbox-hours-text,
	#countbox-mins-text, #countbox-secs-text {
		font-size:14px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
	#countbox, #countbox1 {
		max-width: 100%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
	#countbox, #countbox1 {
		margin-top: 15px;
	}
	#countbox .countbox-num,
	#countbox1 .countbox-num {
		margin-right:5px;
	}
}