.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}
body {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8rem;
	min-width: 320px;
	position: relative;
	line-height: 1.3;
	overflow-x: hidden;
}
p {
	font-size: 1.8rem;
	line-height: 1.3;
	color: #020202;
	margin: 0 0 1rem;
}
h1 {
	font-size: 5.2rem;
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 400;
	line-height: 1.3;
	color: #2a333d;
	margin: 0 0 1rem;
}
h2 {
	font-size: 3.6rem;
	font-weight: 400;
	line-height: 1.3;
	color: #020202;
	margin: 0 0 1rem;
}
.hidden {
	display: none;
}
.map {
	min-height: 650px;
}
.gmnoprint > div {
	background: green !important;
}
.main-header {
	min-height: 752px;
	background: url("../img/main-screen-bg.jpg") no-repeat top center;
}
.top-head-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 40px;
}
.top-head-item--1 {
	padding-top: 35px;
}
.logo,
.top-head-item {
	display: inline-block;
	vertical-align: top;
}
.top-head-item .active {
	color: #2e8dc7;
}
.top-head-item--2 {
	float: right;
	position: relative;
	padding-top: 10px;
}
.top-head-item--2 a {
	position: relative;
	display: block;
	width: 100%;
	font-size: 1.8rem;
	z-index: 2;
	cursor: pointer;
	padding-left: 47px;
	margin-bottom: 2px;
}

.logo-pic {
	max-height: 102px;
	padding-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.logo-text {
	padding-top: 30px;
}
.logo-text p {
	font-size: 1.6rem;
	line-height: 1.2;
	padding-top: 5px;
}
.top-head-item--1 a {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 28px;
	text-align: center;
	font-size: 1.2rem;
}
.top-head-item--1 a:hover {
	color: #fff;
	background-color: #2a333d;
	text-decoration: none;
}
.top-head-item--1 a.active {
	color: #fff;
	background-color: #2a333d;
}
.main-screen-sub-header {
	font-size: 2.8rem;
	max-width: 570px;
	margin-bottom: 15px;
}
.header-features {
	padding: 0;
	margin: 0;
	padding-left: 20px;
	margin-bottom: 30px;
}
.header-features__item {
	position: relative;
	font-size: 2rem;
	margin-bottom: 15px;
}
.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
}
.btn:focus {
	outline: none;
}
.main-btn {
	max-width: 470px;
	height: 65px;
	line-height: 60px;
	font-family: 'Rubik-Bold', sans-serif;
	font-weight: 400;
	color: #fff;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.main-btn:hover {
	color: #fff;
}
.btn-grey {
	background-color: #37414c;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
}
.btn-grey:hover {
	background-color: #3d4956;
	-webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
}
.btn-red {
	background-color: #67274f;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
}
.btn-red:hover {
	background: #792d5d;
	-webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
}

.btn-brown {
	background-color: #907944;
}
.header-btn {
	width: 100%;
	height: 55px;
	font-size: 1.6rem;
	line-height: 55px;
	font-family: 'Rubik', sans-serif;
	color: #2a333d;
	border: 1px solid #3b4652;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	margin-top: 15px;
}
.header-btn:hover {
	color: #fff;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	background: #3b4652;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main-header {
		background-position: 60% 0;
	}
	.logo-text p {
		font-size: 1.3rem;
	}
	.top-head-list {
		margin-left: 0;
	}
	.logo-pic {
		max-height: 95px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-header {
		min-height: 0;
		height: auto;
		background-position: 18% 0;
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
	.main-btn {
		max-width: 370px;
		height: 60px;
	}
}
@media only screen and (max-width : 642px) {
	html {
		font-size: 8px;
	}
	.logo-pic {
		display: block;
		max-height: 80px;
		margin-left: 20px;
		margin-right: 0;
		margin-bottom: 0;
	}
	.logo-text {
		padding-top: 0;
	}
	.top-head-item--2 {
		padding-top: 15px;
	}
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 580px) {
	.logo-pic {
		display: block;
		margin: 0 0 0 20px;
	}
	.logo-text {
		padding-top: 0;
	}
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}


@media only screen and (max-width : 493px) {
	.top-head-item--2 a {
		padding-left: 0;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1 {
		font-size: 4rem;
	}

}
@media only screen and (max-width : 450px) {
	.top-head-item {
		display: block;
	}
	.top-head-item--2 {
		padding-top: 0;
	}
	.top-head-item--2 a {
		padding-left: 0;
	}
	.top-head-list {
		text-align: right;
	}
	.logo-pic {
		display: inline-block;
		margin-left: 0;
	}
	.center-xs {
		text-align: center;
	}
	.top-head-item--1 {
		padding-top: 15px;
		margin-bottom: 0;
	}
	.main-screen-sub-header {
		font-size: 2.5rem;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}


@media only screen and (max-width : 397px) {
	.top-head-item--2 {
		padding-top: 15px;
	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.main-screen-sub-header {
		font-size: 2.4rem;
	}
	.main-btn {
		font-size: 1.6rem;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}