.products__headline {
	max-width: 740px;
	padding-top: 40px;
}
.products__item {
<<<<<<< HEAD
	height: 580px;
=======
	min-height: 570px;
>>>>>>> develop
	h3 {
		font-size: 2.3rem;
		font-family: @ff3;
		margin-bottom: 25px;
	}
	img {
		display: block;
		width: 100%;
		margin-bottom: 35px;
	}
	p {
		line-height: 1.5;
	}
<<<<<<< HEAD
}
.products-btn {
	margin-bottom: 100px;
	&:hover {
		background-color: #a0864a;
	}
=======

}
.products-btn {
	margin-bottom: 95px;
>>>>>>> develop
}