@font-face {
	font-family: "Rubik";
	src: url("fonts/Rubik-Regular.eot");
	src: url("fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-Regular.woff") format("woff"),
			 url("fonts/Rubik-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rubik-Italic";
	src: url("fonts/Rubik-Italic.eot");
	src: url("fonts/Rubik-Italic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-Italic.woff") format("woff"),
			 url("fonts/Rubik-Italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rubik-Bold";
	src: url("fonts/Rubik-Bold.eot");
	src: url("fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-Bold.woff") format("woff"),
			 url("fonts/Rubik-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rubik-BoldItalic";
	src: url("fonts/Rubik-BoldItalic.eot");
	src: url("fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-BoldItalic.woff") format("woff"),
			 url("fonts/Rubik-BoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rubik-Medium";
	src: url("fonts/Rubik-Medium.eot");
	src: url("fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-Medium.woff") format("woff"),
			 url("fonts/Rubik-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rubik-MediumItalic";
	src: url("fonts/Rubik-MediumItalic.eot");
	src: url("fonts/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/Rubik-MediumItalic.woff") format("woff"),
			 url("fonts/Rubik-MediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}